@page
@{

    Layout = "~/Views/Account/Layout.cshtml";
}
@model HDnet.Users
@ViewBag.error
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Creat User
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="post" asp-controller="account" asp-action="signup">
                        <div class="form-group"></div>
                        <label class="form-control-label">USERNAME</label>
                        <input class="form-control" type="text" name="Id" />

                        <label class="form-control-label">PASSWORD</label>
                        <input class="form-control" type="password" name="password" />

                        <label class="form-control-label">PASSWORD CHECK</label>
                        <input class="form-control" type="password" name="passwordChecker" />

                        <button class="btn btn-outline-primary" type="submit" asp-controller="account"
                            asp-action="signup">Create</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
